<footer class="row" style="background-color: #808284">
    <div class="footer-section" style="padding: 25px 0 25px 0; text-align: center">
        <div class="container-fluid">
            <a href="http://www.facebook.com/consortiumclaroline" target="blank"><img src="{{ asset('uploads/custom/images/socials/1.png') }}" width="64px" alt="Facebook"></a>
            <a href="http://www.twitter.com/LMSClaroline" target="blank"><img src="{{ asset('uploads/custom/images/socials/33.png') }}" width="64px" alt="LMSClaroline"></a>
            <a href="http://www.linkedin.com/groups?gid=23022&trk=myg_ugrp_ovr" target="blank" class="linkedin-btn wow rollIn center animated" data-wow-delay=".4s"><img src="{{ asset('uploads/custom/images/socials/7.png') }}" width="64px" alt="LonkedIn"></a>
            <a href="https://plus.google.com/u/0/112736720926447938003/posts" target="blank" class="google-plus-btn wow rollIn center animated" data-wow-delay=".6s"><img src="{{ asset('uploads/custom/images/socials/10.png') }}" width="64px" alt="LMSClaroline"></a>
            <a href="https://www.youtube.com/channel/UCBHvKl_J25_lsPveETBfHtQ/playlists" target="blank" class="youtube-btn wow rollIn center animated" data-wow-delay=".7s"><img src="{{ asset('uploads/custom/images/socials/2.png') }}" width="64px" alt="YouTube"></a>
            <a href="https://github.com/claroline/Claroline" target="blank" class="youtube-btn wow rollIn center animated" data-wow-delay=".7s"><img src="{{ asset('uploads/custom/images/socials/23.png') }}" width="64px" alt="GitHub"></a>
        </div>
    </div>
    <div class="copyrights">
        <div class="container-fluid">
            <a href="http://www.claroline.net">&copy; - Claroline Connect (version {{ coreVersion }}) - 2016</a>
        </div>
    </div>
</footer>
